body {
  font-family: monospace;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 375px;
  margin: 10%;
  background-color: #6495ed63;
  border-radius: 10px;
  box-shadow: 3px 3px 7px 0px;
}

.input-area {
  display: flex;
}

.word-input {
  height: 25px;
  width: 80%;
  align-self: center;
  margin-top: 50px;
  border-radius: 5px;
  text-indent: 10px;
  font-family: monospace;
}

.word-search {
  height: 25px;
  width: 80%;
  align-self: center;
  margin-top: 20px;
  border-radius: 5px;
  text-indent: 10px;
  font-family: monospace;
}

.dropdown-list {
  width: 81%;
  align-self: center;
  margin-top: -4px;
  padding: 0px;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
  font-family: monospace;
}

.dropdown-list-empty {
  width: 81%;
  align-self: center;
  margin-top: -4px;
  padding: 0px;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
  font-family: monospace;
  color: red;
  text-indent: 11px;
  font-style: italic;
}

li {
  list-style: none;
  text-indent: 11px;
}
